In [1]:
a = 'Naresh'
for i in a:
    print(i)

N
a
r
e
s
h

In [4]:
for i in range(1,11) :
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [6]:
for i in range(1,11):
    if i%2 == 0:
        print('Even:', i)

    else:
        print('Odd: ', i)

Odd:  1
Even: 2
Odd:  3
Even: 4
Odd:  5
Even: 6
Odd:  7
Even: 8
Odd:  9
Even: 10

In [7]:
for i in range(1,11):
    print('Square:', i*i)

Square: 1
Square: 4
Square: 9
Square: 16
Square: 25
Square: 36
Square: 49
Square: 64
Square: 81
Square: 100

In [17]:
a = 'Yahoo.com'
for i in a:
    if '.' in i:
        break
    print(i,end='')

Yahoo

In [36]:
for i in range(5,0,-1):   #(start, stop, step)
    print('* '*i)

* * * * *
* * * *
* * *
* *
*

In [33]:
for i in range(6) :
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [47]:
for i in range(5,0,-1):
    print('* '*i)
for i in range(2,6):
    print('* '*i)

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

In [2]:
a = 1
for i in range(6,0,-1):
    print(' '*i+'*'*a,end= ' ')
    a+=2
    print()

      *
     ***
    *****
   *******
  *********
 ***********

In [ ]:
for i in range(6):
    print(f'{i} '*i)
    i+=1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [49]:
for i in range(1,11):
    print(f'{i} ',i+1)
    i*=i

1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9
9  10
10  11

In [14]:
a = 2456789
num = a
b = 0
d = 0
for i in str(a):
    c = int(i)%10
    if c%2 == 0:
        b+=1
    else:
        d+=1

print(f'Even numbers in {num}: {b}')
print(f'Odd numbers in {num}: {d}')

Even numbers in 2456789: 4
Odd numbers in 2456789: 3

In [17]:
even_sum = 0
odd_sum = 0
for i in range(1,11):
    if i%2 == 0:
        even_sum+=i
    else:
        odd_sum+=i
    
print(f'Sum of even numbers (1-10): {even_sum}')
print(f'Sum of odd numbers (1-10): {odd_sum}')

Sum of even numbers (1-10): 30
Sum of odd numbers (1-10): 25

In [22]:
a = 102030
b = 0
for i in str(a):
    if int(i)%10==0 :
        continue
    else:
        c = int(i)%10
        b = b*10+c
    
print(f'{a} without 0: {b}')

102030 without 0: 123

In [25]:
a = 102030
b = ' '
for i in str(a):
    if i!='0':
        b+=i
b = int(b)
print(b)
print(type(b))

123
<class 'int'>

In [28]:
n = 4
p = 1
for i in range(1,5):
    for j in range(i):
        print(p, end=' ')
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10